@font-face {
    font-family: 'Jost';
    src: url('Fonts/Jost-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --darkColour: rgb(80, 10, 10);
    --lightColour: rgb(255, 233, 233);
}

* {
    font-family: 'Jost', sans-serif;
}

.title {
    display: inline;
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.title::after {
    margin-left: 0.3rem;
    content: "";
    background-color: var(--darkColour);
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    mask-image: url('plane.svg');
    mask-size: 1.5rem;
    rotate: 90deg;
    vertical-align: -0.2rem;
}

h1 {
    display: inline;
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.homeIcon {
    background-color: var(--darkColour);
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    mask-image: url('plane.svg');
    mask-size: 1.5rem;
    rotate: 90deg;
}


.cardHolder {
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    width: 16rem;
    background-color: var(--lightColour);
    box-shadow: 0 0 0.5rem 0 grey;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.card:hover {
    box-shadow: 0 0 0.5rem 0 var(--darkColour);
}
.card img {
    display: block;
    width: 16rem;
    height: 9rem;
    border-radius: 0.5rem 0.5rem 0 0;
}
.card div {
    margin: 0.5rem
}
.card p {
    margin: 0;
}
.card h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.card::after {
    content: "↣";
    background-color: var(--darkColour);
    color: white;
    width:2rem;
    height:2rem;
    position: absolute;
    right: 0rem;
    top: 0rem;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 0 0 0 0.5rem;
}